POSTGRES_DB=ms_auth
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

SECRET_KEY=13244532dfnsfklajnn342
JWT_SECRET_KEY=jwt13244532dfnsfklajnn342

REDIS_HOST=localhost
REDIS_PORT=6379

OAUTH_GOOGLE_CLIENT_ID=999726593656-s1fm616k8uul7habfp04kdm8dv0b8ovv.apps.googleusercontent.com
OAUTH_GOOGLE_CLIENT_SECRET=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
JAEGER_HOST=localhost

RECAPTCHA_SITE_KEY=6LdI8dQfAAAAAKaJkO--saEoXv1e_zC2dq4ky6k0
RECAPTCHA_SECRET_KEY=6LdI8dQfAAAAAI1leMTQ_TV4WSPQntQ0SqxOPGLL